.donation {
  background-color: #F6F6F6;

  &__content {
    flex-direction: column;
    align-items: center;


    @include breakpoint-up(large) {
      padding: 80px 0 100px;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  &__text-content {
    align-items: center;
    flex-direction: column;
    max-width: 380px;

    @include breakpoint-up(medium) {
      align-items: flex-start;
    }
  }

  &__heading {
    padding: 42px 0 20px;
    text-align: center;

    @include breakpoint-up(medium) {
      padding-top: 80px;
      text-align: left;
    }

    @include breakpoint-up(large) {
      padding-top: 0;
    }
  }

  &__text {
    color: #545454;
    padding-bottom: 20px;

    @include breakpoint-up(medium) {
      line-height: 17px;
      letter-spacing: .06em;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }

  &__account {
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 9px;
    background-color: #F1CDB3;
    align-items: center;
  }

  &__legal {
    margin-bottom: 42px;
    max-width: 280px;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
    color: #B2B2B2;

    @include breakpoint-up(medium) {
      margin-bottom: 60px;
      max-width: 380px;
      text-align: left;
    }

    @include breakpoint-up(large) {
      margin-bottom: 0;
    }
  }

  &__image {
    margin: 0 30px 42px;
    max-width: calc(100% - 30px * 2);

    @include breakpoint-up(medium) {
      margin: 0 0 100px;
    }

    @include breakpoint-up(large) {
      margin: 0 30px 0 0;
    }
  }
}

.account {
  &__number {
    padding-left: 15px;
    color: #545454;

    @include breakpoint-up(medium) {
      font-size: 20px;
      line-height: 23px;
    }
  }
}