.footer {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  background: url('../assets/noiselines.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  
  &__heading {
    padding-bottom: 40px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: .06em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FFFFFF;
  }

  &__contacts {
    flex-direction: column;
    align-items: center;
  }

  &__address {
    // align-self: flex-start;
  }

  &__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .06em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F1CDB3;
  }

  &__item {
    margin-bottom: 40px;
    align-items: center;
  }

  &__icon {
    margin-right: 20px;
  }

  &__image {
    max-width: calc(100% - 30px * 2);
  }
}

.contacts {
  &__item {
    padding-top: 3px;
  }
}



  