body {
  margin: 0;
  padding: 0;
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
    
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.flex {
  display: flex;
}