body {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1200px) {
  .section-container {
    max-width: 1200px;
    margin: auto;
  }
}


.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
    
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.flex {
  display: flex;
}