.splash-screen {
  background: url("../assets/noiselines.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.motto {
  font-size: 25px;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: .06em;
  color: #FFFFFF;
  text-align: center;
}

.text {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-align: center;
}