body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (min-width: 1280px) {
  .section-container {
    max-width: 1280px;
    margin: auto; } }

@media (min-width: 768px) {
  .hide-for-desktop {
    display: none; } }

@media (max-width: 767.9px) {
  .hide-for-mobile {
    display: none !important; } }

.flex {
  display: flex; }

.grid {
  display: grid; }

.btn {
  box-sizing: border-box;
  padding: 15px 45px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: .06em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-self: center;
  border: none;
  border-radius: 100px;
  background-color: #F1CDB3;
  color: #292929; }

.btn-secondary {
  padding: 13px 43px;
  border: 2px solid #F1CDB3;
  background-color: transparent; }

.btn-arrow {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  padding: 0;
  border-radius: 100px;
  justify-content: center;
  align-items: center; }

.arrow-left {
  transform: rotate(180deg); }

.heading {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: .06em;
  font-family: Georgia, 'Times New Roman', Times, serif; }
  @media (min-width: 768px) {
    .heading {
      font-size: 35px;
      letter-spacing: .06em; } }

.text {
  font-size: 15px;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }
  @media (min-width: 768px) {
    .text {
      margin: 42px 0;
      text-align: left; } }
  @media (min-width: 1280px) {
    .text {
      margin-left: 0;
      width: 460px; } }

.header {
  padding-top: 30px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .header {
      padding-left: 30px; } }
  @media only screen and (min-width: 1280px) {
    .header {
      padding-top: 60px;
      padding-left: 40px; } }
  .header__logo {
    width: fit-content;
    text-align: center; }
  .header__logo-title {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 2rem;
    line-height: 35.2px;
    letter-spacing: .06em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #F1CDB3; }
  .header__logo-subtitle {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #FFFFFF; }
  .header__menu {
    padding-right: 30px; }
    @media (min-width: 1280px) {
      .header__menu {
        padding-right: 40px; } }
  .header__menu-item {
    font-size: 15px;
    line-height: 24px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #CDCDCD; }
  .header__menu-item:not(:last-child) {
    margin-right: 35px; }
  .header__menu-item_active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3; }
  .header__menu-item:hover {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer; }

.hamburger-menu {
  width: 30px;
  height: 36px;
  margin: auto;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out; }

.hamburger-stripe {
  border-top: 2px solid #F1CDB3;
  width: 100%;
  display: block;
  position: absolute;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }
  .hamburger-stripe:not(:last-child) {
    margin-bottom: 10px; }

.hamburger-stripe:nth-of-type(1) {
  top: 0px;
  transform-origin: left center; }

.hamburger-stripe:nth-of-type(2) {
  top: 10px; }

.hamburger-stripe:nth-of-type(3) {
  top: 20px;
  transform-origin: left center; }

.hamburger-menu.open .hamburger-stripe:nth-of-type(1) {
  transform: rotate(45deg);
  left: 0; }

.hamburger-menu.open .hamburger-stripe:nth-of-type(2) {
  width: 0%;
  opacity: 0; }

.hamburger-menu.open .hamburger-stripe:nth-of-type(3) {
  transform: rotate(-45deg);
  left: 0;
  top: 21px; }

.splash-screen {
  background: url("../assets/noiselines.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; }

.splash-content {
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .splash-content {
      align-items: flex-start; } }
  @media (min-width: 1280px) {
    .splash-content {
      flex-direction: row; } }
  .splash-content__block {
    flex-direction: column;
    margin: 60px 10px 0;
    text-align: center; }
    @media (min-width: 768px) {
      .splash-content__block {
        margin: 60px 154px 0;
        text-align: left; } }
    @media (min-width: 1280px) {
      .splash-content__block {
        margin: 0 0 20px 40px;
        align-self: center; } }
  .splash-content__heading {
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: .06em; }
    @media (min-width: 768px) {
      .splash-content__heading {
        font-size: 44px;
        letter-spacing: normal; } }
  .splash-content__text {
    margin: 42px 0;
    color: #CDCDCD; }
    @media (min-width: 1280px) {
      .splash-content__text {
        margin-left: 0;
        width: 460px; } }
  @media (min-width: 1280px) {
    .splash-content__btn {
      align-self: flex-start; } }

.hero-img {
  margin: 105px 10px 0 50px;
  max-width: calc(100% - 60px); }
  @media (min-width: 768px) {
    .hero-img {
      margin: 100px 30px 0 169px;
      max-width: calc(100% - 199px); } }
  @media (min-width: 1280px) {
    .hero-img {
      margin: 60px 40px 0 42px; } }

.about {
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .about {
      margin: 0 169px; } }
  @media (min-width: 1280px) {
    .about {
      margin: 0 215px;
      flex-direction: row-reverse;
      align-items: flex-start; } }
  .about__container {
    margin-top: 42px; }
    @media (min-width: 768px) {
      .about__container {
        margin-top: 80px; } }
    @media (min-width: 1280px) {
      .about__container {
        margin-top: 94px;
        margin-left: 120px; } }
  .about__heading {
    margin-bottom: 25px;
    letter-spacing: .06em;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #545454; }
    @media (min-width: 768px) {
      .about__heading {
        font-size: 35px;
        text-align: left; } }
  .about__text {
    margin: 0 25px 22px;
    color: #4C4C4C;
    text-align: justify; }
    @media (min-width: 768px) {
      .about__text {
        text-align: left;
        margin: 0 0 25px; } }
  .about__text:last-of-type {
    margin-bottom: 0; }
  .about-img {
    margin: 42px 30px;
    max-width: calc(100% - 60px); }
    @media (min-width: 768px) {
      .about-img {
        margin: 80px 0 100px; } }

.looking-for-a-house {
  background-color: #F6F6F6;
  flex-direction: column;
  align-items: center; }

.looking__heading {
  margin: 42px 10px;
  color: #545454;
  text-align: center; }
  @media (min-width: 768px) {
    .looking__heading {
      margin: 80px 0 60px; } }

.looking__btn {
  margin-bottom: 42px; }

@media (min-width: 768px) {
  .looking__slideshow {
    position: relative; }
  .looking__btn {
    margin: 60px 0 100px; } }

.card {
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px; }
  @media (max-width: 767.9px) {
    .card:nth-of-type(n + 2) {
      display: none; } }
  @media (max-width: 1279.9px) {
    .card:nth-of-type(n + 3) {
      display: none; } }
  @media (min-width: 768px) {
    .card:not(:nth-of-type(2)) {
      margin-right: 40px; } }
  @media (min-width: 1280px) {
    .card:not(:nth-of-type(3)) {
      margin-right: 90px; } }
  .card__name {
    margin: 30px 0;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: .06em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454; }
  .card__image {
    max-width: 270px;
    max-height: 270px; }

.slider {
  width: calc(100% - (68px - 25px) * 2);
  margin: 20px 43px 42px;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .slider {
      height: 0;
      margin: 0; } }

@media (min-width: 768px) {
  .arrow-left {
    position: absolute;
    top: calc(50% - 25px);
    left: -64px; }
  .arrow-right {
    position: absolute;
    top: calc(50% - 25px);
    right: -64px; } }

.help-shelter__heading {
  margin: 42px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .help-shelter__heading {
      margin: 80px 0 60px; } }

.help-shelter__content {
  margin-bottom: 42px;
  row-gap: 30px;
  grid-template-columns: auto auto; }
  @media (min-width: 768px) {
    .help-shelter__content {
      margin: 0 69px 100px;
      column-gap: 60px;
      row-gap: 55px;
      grid-template-columns: auto auto auto; } }
  @media (min-width: 1280px) {
    .help-shelter__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 120px; } }

.help-shelter__block {
  flex-direction: column;
  align-items: center; }

.block__image {
  max-height: 50px;
  max-width: 50px; }
  @media (min-width: 768px) {
    .block__image {
      max-height: fit-content;
      max-width: fit-content; } }

.block__caption {
  margin-top: 20px;
  max-width: 130px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: .06em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #545454;
  text-align: center; }
  @media (min-width: 768px) {
    .block__caption {
      margin-top: 30px;
      max-width: 170px;
      font-size: 20px;
      line-height: 23px; } }

.donation {
  background-color: #F6F6F6; }
  .donation__heading {
    padding: 42px 0 20px;
    text-align: center; }
  .donation__text {
    color: #545454;
    padding-bottom: 20px; }
/*# sourceMappingURL=style.css.map */